:root {
    --main-bg-color: #eef1fc;
    --scoreboard-border: #601155;
    --neon1: #03b7f8;
    --neon2: #034760;
  }
  

* {
    font-family: "Audiowide", sans-serif;
}

body {
    background-color: var(--main-bg-color);
  }

header {
    text-align: center;
}

h2 {
    font-size: 2.5vw;
}

p {
    font-size: 1.3vw;
}

.flex-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.choice-buttons > button {
    justify-content: center;
    max-width: 110px;
    margin: 0px 30px 0px 30px;
}

.choice-buttons > button > img {
    max-width:100%;
}

#final-result {
    text-align: center;
    font-size: 4vw;
    margin: 10px;
}

.scoreboard-column {
    flex-direction: column;
    gap: 20px;
    flex: 1 1 0px;
}

#score-column1 {
    align-items: flex-end;
}

.scoreboard {
    padding: 10px;
    width: 40%;
    border: 5px dotted var(--scoreboard-border);
}

.player-name {
    font-size: 1.5vw;
    text-align: center;
}

.score {
    font-size: 2vw;
    text-align: center;
}

.winner-history {
    font-weight: bold;
  text-shadow:
  0 0 7px ,
  0 0 10px var(--neon1),
  0 0 21px var(--neon1),
  0 0 42px var(--neon1),
  0 0 82px var(--neon2),
  0 0 92px var(--neon2),
  0 0 102px var(--neon2),
  0 0 151px var(--neon2);

}

