:root {
    --main-bg-color: #eef1fc;
    --scoreboard-border: #53afa2;
    --lose-text: rgb(124, 124, 126);
    --neon1: #0568ca;
    --neon2: #02f0a1;
  }
  

* {
    font-family: "Audiowide", sans-serif;
}

body {
    background-color: var(--main-bg-color);
  }

header {
    text-align: center;
}

h2 {
    font-size: 2.5vw;
}

p {
    font-size: 1.3vw;
}

.flex-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.choice-buttons > button {
    max-width: 110px;
    margin: 0px 30px 0px 30px;
}

.choice-buttons > button > img {
    max-width:100%;
}

#final-result {
    text-align: center;
    font-size: 4vw;
    margin: 10px;
}

.scoreboard-column {
    flex-direction: column;
    gap: 20px;
    flex: 1 1 0px;
}

#score-column1 {
    align-items: flex-end;
}

.scoreboard {
    padding: 10px;
    width: 40%;
    border: 3px dotted var(--scoreboard-border);
}

.scoreboard-neon {
    box-shadow: 
        0 0 1px var(--neon1),
        0 0 2px var(--neon1),
        0 0 6px var(--neon2),
        0 0 12px var(--neon2),
        inset 0 0 1px var(--neon1),
        inset 0 0 2px var(--neon1),
        inset 0 0 6px var(--neon2),
        inset 0 0 12px var(--neon2);
}

.player-name {
    font-size: 1.5vw;
    text-align: center;
}

.score {
    font-size: 2vw;
    text-align: center;
}

.winner-history {
    font-weight: bold;
    color: #fff;
    text-shadow:
        0 0 1px var(--neon1),
        0 0 2px var(--neon1),
        0 0 6px var(--neon1),
        0 0 12px var(--neon2),
        0 0 24px var(--neon2),
        0 0 92px var(--neon2),
        0 0 102px var(--neon2),
        0 0 151px var(--neon2);
}

.lose-history {
    color: var(--lose-text);
}

